* {box-sizing: border-box;}

.container {
    border: 4px solid lightgray;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
}

.box {
    border: 4px solid lightgray;
    margin-bottom: 24px;
    }

.box-large {
    width: 45%;
    }

.box-small {
    height: 50px
}

.box-tiny {
    width: 30%;
    height: 50px;
}

.tiny-wrapper {
    display: flex;
    justify-content: space-between;
}

.box-wrapper {
    width: 50%;
    padding-right: 24px;
}
